.content {
    width: 100%; 
    height: 100vh;
}

.fondoLogin {
    background-color: var(--gray_500);
}

.btnLoginSesion {
    background: linear-gradient(90deg, var(--violet_500), var(--violet_700));
}

.forgotPass {
    color: var(--violet_500);
}

