.hoverItemMenu:hover {
    background-color: var(--white_100);
}

.hoverItemMenuActive {
    background-color: var(--white_100);
    border-left: 10px solid var(--violet_500);
}

.heightMenu {
    height: calc(100vh - 170px);
}