.content {
    width: 100%; 
    height: 100vh;
}

.fondoLogin {
    background-color: var(--gray_500);
}

.btnForgot {
    background: linear-gradient(90deg, var(--violet_500), var(--violet_700));
}

.textWarning {
    color: var(--yellow_600);
}

