/* Transicion para ocultar el PanelMenu usa CSSTransition */
.slide-menu-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-menu-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.slide-menu-enter-done {
  transform: translateX(0);
  opacity: 1;
}

.slide-menu-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-menu-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*Transicion para mover el contenido, header y footer a la izquierda cuando se oculta el PanelMenu */
.content-area {
  transition: margin-left 0.3s ease-in-out;
}

.content-area.expanded {
  margin-left: 17.5rem;
}

.content-area.collapsed {
  margin-left: 0;
}

/* Clases Generales*/
.bg__card { /*Fondo de las tarjetas "Card"*/
  background-color: var(--gray_500);
}

.bg__buttons { /*Fondo de los botones*/
  background: linear-gradient(90deg, var(--violet_500), var(--violet_700));
}

/*Outline, borders y shadows de los inputs y botones*/
.outline__color--inputs:focus, .outline__color--buttons:focus {
  border-color: var(--violet_500);

  outline: 2px solid rgba(137, 43, 226, 0.3);

  outline-offset: 2px; 

  box-shadow: none !important;
}

/*Borders de los inputs y botones*/
.outline__color--inputs:hover, .outline__color--buttons:hover {
  border-color: var(--violet_500);
}

