/* Transicion para ocultar el PanelMenu usa CSSTransition */
.slide-menu-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-menu-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.slide-menu-enter-done {
  transform: translateX(0);
  opacity: 1;
}

.slide-menu-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-menu-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/*Transicion para mover el contenido, header y footer a la izquierda cuando se oculta el PanelMenu */
.content-area {
  transition: margin-left 0.3s ease-in-out;
}

.content-area.expanded {
  margin-left: 17.5rem;
}

.content-area.collapsed {
  margin-left: 0;
}
