/* Contenedor del menú (sin cambios) */
.menu-container {
  flex-shrink: 0;
  width: 17.5rem;
  height: 100vh;
  transform: translateX(0);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-container.menu-hidden {
  width: 0;
  transform: translateX(-100%);
}

.info-container {
  margin-left: 17.5rem;
  transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.info-container.info-left {
  margin-left: 0;
}



/* Clases Generales*/
.bg__card { /*Fondo de las tarjetas "Card"*/
  background-color: var(--gray_500);
}

.bg__buttons { /*Fondo de los botones*/
  background: linear-gradient(90deg, var(--violet_500), var(--violet_700));
}

/*Outline, borders y shadows de los inputs y botones*/
.outline__color--inputs:focus, .outline__color--buttons:focus {
  border-color: var(--violet_500);

  outline: 2px solid rgba(137, 43, 226, 0.3);

  outline-offset: 2px; 

  box-shadow: none !important;
}

/*Borders de los inputs y botones*/
.outline__color--inputs:hover, .outline__color--buttons:hover {
  border-color: var(--violet_500);
}

