:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(180deg, #2e323f, #0a061a);
  /* background-color: #111827; */
  /* background-color: #2d313e; */


}

html, body {
  /* 1. Resetear el margen y padding por defecto de los navegadores */
  margin: 0;
  padding: 0;
}
